version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql 
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $$MSSQL_SA_PASSWORD -Q \"SELECT 1\" -No" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    networks:
      - app-network

  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: sql-init
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
      - ./Scripts/init.sql:/init.sql:ro
    entrypoint: >
      bash -c "
        sleep 15 &&
        /opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P \"$MSSQL_SA_PASSWORD\" -i /init.sql
      "
    restart: "no"
    networks:
      - app-network

  webapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-api
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__DatabaseConnection=Server=sqlserver,1433;Database=SistemaDeLibreria;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=true;
    ports:
      - "5000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  sql_data:
